/* colors
Pakistan Green: #047417
*/

/*---------------------------------------------------------------------------------
 general styles
 --------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: slategrey;
}

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 95px;
}

/*---------------------------------------------------------------------------------
 navbar
 --------------------------------------------------------------------------------*/
.navbar-toggler {
  border: none;
}

.nav-link {
  margin: 2px 5px;
  padding: 0px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1rem;
  margin-top: 10px;
  transition: .5s;
}

.nav-link a {
  font-weight: 100;
}

.dropdown-item {
  padding: 3px;
  font-weight: 500;
}

.dropdown-menu {
  padding: 4px 1px;
}

.nav-links {
  line-height: 1rem;
}

.nav-links li a {
  border-bottom: 2px solid transparent;
}

.navbar-expand {
  padding: 0;
}

.navbar-expand {
  padding: 0;
}

.navbar-nav .nav-link {
  padding: 0;
}

.sub-nav {
  font-size: .9rem;
}

.active-nav-link a {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, .7) !important;
}

.sub-nav {
  display: none;
}

/*---------------------------------------------------------------------------------
 navigation svg
 --------------------------------------------------------------------------------*/
#vi-logo {
  font-family: 'Pacifico', cursive;
}

#vi-heading path:nth-child(2) {
  stroke-dasharray: 450px;
  stroke-dashoffset: 450px;
  animation: line-anim 8s ease forwards;
}

#vi-heading path:nth-child(3) {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 8s ease forwards .3s;
}

#vi-heading path:nth-child(4) {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 8s ease forwards .6s;
}

#vi-heading path:nth-child(5) {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 8s ease forwards .9s;
}

#vi-heading path:nth-child(6) {
  stroke-dasharray: 750px;
  stroke-dashoffset: 750px;
  animation: line-anim 8s ease forwards 1.2s;
}

#vi-heading path:nth-child(7) {
  stroke-dasharray: 650px;
  stroke-dashoffset: 650px;
  animation: line-anim 8s ease forwards 1.5s;
}

#vi-heading path:nth-child(8) {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 8s ease forwards 1.8s;
}

#vi-heading path:nth-child(9) {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 8s ease forwards;
}

#vi-heading path:nth-child(10) {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 8s ease forwards .3s;
}

#vi-heading path:nth-child(11) {
  stroke-dasharray: 550px;
  stroke-dashoffset: 550px;
  animation: line-anim 8s ease forwards .6s;
}

#vi-heading path:nth-child(12) {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 8s ease forwards .9s;
}

#vi-heading path:nth-child(13) {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 8s ease forwards 1.2s;
}

#vi-heading path:nth-child(14) {
  stroke-dasharray: 615px;
  stroke-dashoffset: 615px;
  animation: line-anim 8s ease forwards 1.5s;
}

#vi-heading path:nth-child(15) {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 8s ease forwards 1.8s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

/*---------------------------------------------------------------------------------
 homepage video
 --------------------------------------------------------------------------------*/

.container-video {
  margin-top: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

video {
  width: 100%;
  margin-top: 30px;
}

.home-gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.home-gallery-video a video {
  transition: 1s ease-in-out;
}

.home-gallery-video:hover a video {
  transform: scale(1.2);
}

.home-gallery-text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fafafa;
  font-size: 2rem;
  pointer-events: none;
  z-index: 3;
  transition: 2s ease-in-out;
}

.home-gallery-item:hover .home-gallery-text {
  opacity: 1;
}

/*---------------------------------------------------------------------------------
 West, East & North-image galleries
 (inspired by youtube tutorial by Follow Andrew:https://youtu.be/gvPyJ0rc944)
 --------------------------------------------------------------------------------*/
.gallery-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 12vh;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.gallery-item .gallery-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 1s ease-in-out;
  display: block;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all .8s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, .6);
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.overlay-fade {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.gallery-item:hover .overlay-fade {
  width: 100%;
}

.gallery-item:hover .gallery-image img {
  transform: scale(1.5);
}

.gallery-item .gallery-text {
  font-size: 1.5rem;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  color: #fafafa;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 3;
  transition: 2s ease-in-out;
}

.gallery-item:hover .gallery-text {
  opacity: 1;
}

.w-2,
.w-4,
.w-8 {
  grid-column: span 1;
}

.h-3,
.h-4,
.h-6,
.h-8 {
  grid-row: span 3;
}

/*---------------------------------------------------------------------------------
 locations-carousel & text
 --------------------------------------------------------------------------------*/
.locations-container {
  width: 90%;
  margin: auto;
}

.carousel-container-p,
.carousel-container-l {
  width: 100%;
  margin: auto;
  padding: 10px;
}

#locations-text-p,
#locations-text-l {
  width: 100%;
  margin: auto;
  padding: 10px;
  text-align: justify;
}

#locations-text-p h2,
#locations-text-l h2 {
  color: #047417;
  text-align: center;
}

#locations-culture blockquote {
  font-family: 'Marcellus', serif;
  font-size: 1.3rem;
  color: #047417;
  float: left;
}

#locations-history {
  float: left;
}

.carousel-caption {
  display: none;
}

/*---------------------------------------------------------------------------------
 about (Inspired by Love Running exercise from Code Institute CSS Basics Module)
 --------------------------------------------------------------------------------*/
.about-container {
  width: 90%;
  margin: auto;
  text-align: justify;
}

#about-image {
  width: 100%;
  margin: auto;
  float: left;
  padding: 30px 10px;
}

#circle-container {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #047417;
  margin: 0 auto;
}

#circle-cover-bg {
  background: url(https://i.imgur.com/k0AJMYz.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
  border-radius: 50%;
}

#about-text {
  width: 100%;
  padding: 10px;
}

/*---------------------------------------------------------------------------------
 contact form (inspired by youtube tutorial by Dev Ed:https://www.youtube.com/watch?v=IxRJ8vplzAo)
 --------------------------------------------------------------------------------*/
.contact-body {
  background-image: url(./MS1-Virtual_Ireland/assets/images/n-causeway-stones.jpg);
}

.contact-container {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.form p {
  width: 300px;
  text-align: justify;
}

.form-container {
  width: 300px;
  position: relative;
  height: 63px;
  overflow: hidden;
}

.form-container input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  outline: none;
  background-color: #f8f9fa;
}

.form-container label {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid;
}

.form-container label::after {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #047417;
  transform: translate(-100%);
  transition: transform 0.5s ease;
}

.label-content {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.5s ease;
}

.form-container input:focus+.label-name .label-content,
.form input:not(:placeholder-shown)+.label-name .label-content {
  transform: translateY(-150%);
  font-size: 14px;
  color: #047417;
}

.form-container input:focus+.label-name::after,
.form-container input:not(:placeholder-shown)+.label-name::after {
  transform: translateX(0%);
}

#sign-up {
  border: 2px solid #047417;
  color: #047417;
  background-color: #fafafa;
  margin: 10px;
  transition: all 1s;
}

#sign-up:hover {
  background-color: #047417;
  color: #fafafa;
  margin: 10px;
}



/*---------------------------------------------------------------------------------
 footer
 --------------------------------------------------------------------------------*/
footer {
  background-color: #525252;
  color: #fafafa;
  height: 98px;
  margin-top: -98px;
  clear: both;
  padding: 5px;
}

.social-links,
.copyright,
.list-inline {
  text-align: center;
  margin: 5px;
}

.copyright {
  font-size: 0.65rem;
}

.copyright a {
  text-decoration: none;
  color: #fafafa;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #047417;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #fafafa;
  color: #047417;
}

/*---------------------------------------------------------------------------------
 media queries
 --------------------------------------------------------------------------------*/

/*xxs*/
@media (min-width:50px) {

  /* body {
    background-color: coral;
  } */
  #vi-logo img {
    width: 30px;
    height: 30px;
  }

  #vi-heading {
    display: none;
  }

  footer {
    height: 200px;
    margin-top: -200px;
  }
}

/*xs default*/
@media (min-width:320px) {

  /* body {
    background-color: blue;
  } */
  #vi-heading {
    display: inline-block;
    height: 17px;
  }

  footer {
    height: 90px;
    margin-top: -90px;
  }
}

/*sm*/
@media (min-width:768px) {

  /* body {
    background-color: red;
  } */
  #vi-logo img {
    width: 60px;
    height: 60px;
    color: #;
  }

  #vi-heading {
    height: 40px;
  }

  video {
    margin: 30px 0;
  }

  .carousel-container-p {
    width: 80%;
  }

  .carousel-caption {
    display: inline-block;
  }

  #locations-text-p {
    width: 80%;
  }

  .about-container {
    width: 60%;
  }

  #circle-container {
    width: 400px;
    height: 400px;
  }

  footer {
    height: 55px;
    margin-top: -55px;
  }

  .copyright {
    font-size: 0.7rem;
  }

}


/*md*/
@media (min-width:992px) {

  /* body {
    background-color: green;
  } */
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 6px;
    margin-left: 6px;
  }

  .sub-nav {
    display: block;
  }

  .nav-links li a:hover {
    font-size: 1.1rem;
    border-bottom: 2px solid #047417;
  }

  .active-nav-link a {
    border-bottom: 2px solid #047417 !important;
    font-size: 1.2rem;
  }

  .gallery-container {
    grid-template-columns: repeat(12, 1fr);
    width: 70%;
  }

  .w-2 {
    grid-column: span 2;
  }

  .w-4 {
    grid-column: span 4;
  }

  .w-8 {
    grid-column: span 8;
  }

  .h-3 {
    grid-row: span 3;
  }

  .h-4 {
    grid-row: span 4;
  }

  .h-6 {
    grid-row: span 6;
  }

  .h-8 {
    grid-row: span 8;
  }

  .locations-container {
    width: 95%;
  }

  .carousel-container-p {
    width: 50%;
    float: left;
  }

  .carousel-container-l {
    width: 90%;
  }

  .gallery-item .gallery-text {
    font-size: 1.8rem;
  }

  #locations-text-p {
    float: left;
    width: 50%;
  }

  #locations-text-p #locations-history {
    width: 100%;
  }

  #locations-text-p #locations-culture {
    width: 100%;
  }

  #locations-text-l {
    width: 90%;
  }

  #locations-history {
    padding: 0 10px;
    width: 70%;
  }

  #locations-culture {
    padding: 0 10px;
    width: 30%;
    float: right;
    text-align: left;
  }

  .about-container {
    width: 90%;
    align-items: center;
  }

  .about-container {
    padding-top: 50px;
  }

  #circle-container {
    width: 500px;
    height: 500px;
  }

  #about-image {
    width: 40%;
    float: left;
  }

  #about-text {
    padding-top: 120px;
    width: 40%;
    float: right;
  }
}

/*lg*/
@media (min-width:1200px) {

  /* body {
    background-color: yellow;
  } */
  .container-video {
    width: 78%;
  }

  video {
    margin: 30px 0 0 0;
  }

  .home-gallery-text {
    font-size: 3rem;
  }

  .carousel-container-p {
    width: 50%;
    margin: auto;
  }

  .carousel-container-l {
    width: 50%;
    float: left;
    margin: auto;
  }

  #locations-text-l {
    width: 50%;
    float: left;
    margin: auto;
  }

  #locations-history {
    width: 100%;
  }

  #locations-culture {
    width: 100%;
  }

  #about-text {
    padding-top: 160px;
  }
}

/*xl*/
@media (min-width:1500px) {
  .carousel-container-p {
    width: 34%;
  }

  #locations-text-p {
    width: 50%;
  }

  #about-text {
    padding-right: 100px;
  }
}